[Unit]
Description=CrowdWordle Backend Service
After=network.target

[Service]
# Adjust user/group if needed
User=www-data
Group=www-data

# Path to your published AOT binary
WorkingDirectory=/var/www/crowdwordle/backend
ExecStart=/var/www/crowdwordle/backend/CrowdWordle

# Ensure the service restarts automatically if it fails
Restart=always
RestartSec=5

# Environment
Environment=DOTNET_EnableDiagnostics=0
Environment=WordleDbConnection=/var/lib/crowdwordle/game.db
Environment=Token__SecretKey=crowd-wordle-wow-2025-UAT_o3uj4it90283uf

# Security Hardening
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
